@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    margin-bottom: 1.5%;
}
.alt-menu {
    width: 30px;
    padding-right: 3%;
}
.ypakuem-rf {
    width: 150px;
    height: 40px;
    padding-right: 4%;
}
.one {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 300;
    padding-right: 6%;
}
.size {
    width: 20px;
    padding-right: 0.4%;
}
.padding {
    padding-right: 25%;
}
.font-weight {
    font-weight: 700;
    font-size: 20px;
}
.blue-color {
    color: rgb(0, 157, 255);
    font-weight: 300;
    font-size: 15px;
}
hr {
    width: 65%;
    margin: auto;
}
li {
    font-size: 17px;
    font-weight: 600;
    list-style: none;
    padding-right: 5%;
}
ul {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.main-bg {
    margin-top: 1%;
    background-image: url('images-or-svg/bg.png');
    padding: 4% 15%;
    color: white;
}
.marketing {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}
h1 {
    font-size: 60px;
    margin-top: 2%;
}
h5 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 1%;
}
.flex {
    display: flex;
    margin-top: 3%;
}
.arrow-img {
    margin-right: 2%;
    margin-top: 0.5%;
    height: 35px;
}
.b { 
    font-size: 20px;
    font-weight: 500;
}
button {
    background: linear-gradient(to right, rgba(40, 115, 200, 1), rgb(65, 133, 210));
    color: white;
    font-size: 15px;
    padding: 1.2% 7%;
    border: solid 0px ;
    margin-top: 3%;
}